.pointer {
    cursor: pointer;
}

.centered-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fade-out {
	animation: fadeOut 0.3s;
  	opacity: 0;
}

@keyframes fadeOut {
  from {
  	opacity: 1;
  }
  to {
 	opacity: 0;
  }
}

.fade-in {
    animation: fadeOut 0.3s;
  	opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
       opacity: 1;
    }
  }